{% extends "base.html" %}
{% block body %}

<header>
    <h1>Welcome to TradeTrail</h1>
</header>
<main>
    <section>
        <h2>Available Stocks</h2>
        <!-- use a for loop here to display all available stocks -->
        <div id="stocks">
            <!-- Each stock can be a div with its own id -->
            <div id="stock1">
                <h3>Stock Name</h3>
                <p>Ticker: </p>
                <p>Price: </p>
                <p>Volume: </p>
            </div>
        </div>
    </section>
</main>

{% endblock %}

