{% extends "base.html" %}
{% block body %}

<header>
    <h1>Welcome to TradeTrail</h1>
</header>
<main>
    <section>
        <h2>About TradeTrail</h2>
        <p>TradeTrail is a platform that allows you to trade stocks conveniently online. You can buy and sell stocks from various companies, monitor stock prices, and manage your investment portfolio, all from the comfort of your home.</p>
        <p>With TradeTrail, you can:</p>
        <ul>
            <li>View available stocks and their details.</li>
            <li>Buy and sell stocks with ease.</li>
            <li>Track stock prices and market trends.</li>
            <li>Manage your investment portfolio.</li>
        </ul>
    </section>
</main>

{% endblock %}


