{% extends "base.html" %}
{% block body %}

<h1>Transactions</h1>

<section>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ticker Symbol</th>
                <th scope="col">Ticker Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Transaction Type</th>
                <th scope="col">Transaction Time</th>
            </tr>
        </thead>
        <tbody>
            <!-- You can use a for loop here to display all transactions -->
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.stock.ticker_symbol }}</td>
                <td>{{ transaction.stock.company_name }}</td>
                <td>${{ transaction.price }}</td>
                <td>{{ transaction.quantity }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}

